body {
  background-color: #DDDDDD;
  border: 10px solid white;
  border-bottom: 0;
  border-radius: 8px;
  box-shadow: 6px 8px 8px #bababa, -6px -8px 8px #FDF6F0;
  font-family: sans-serif;
  margin: auto;
  /*
  margin-top: 100px;
  margin-bottom: 100px;
  */
  text-align: center;
  width: 280px;
}
/*
box-shadow: 6px 6px 14px #bababa,
      -6px -6px 14px #ffffff;
*/
.content img {
  background-color: #B980F0;
  border-radius: calc(15px - 10px);
  width: 280px;
}

.content {
  background-color: white;
  border-radius: calc(15px - 10px);
}

h2 {
  background-color: white;
  color: #1A1A40;
  margin: 0;
  padding: 10px;
}

p {
  background-color: white;
  margin: 0;
  color: #93B5C6;
  padding: 10px;
}
